html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*MENU*/
.navbar {
  background-color: #292b2c;
}

.menu-list {
  list-style-type: none;
  margin: 0 4vw;
  padding: 10px 0;
}

.menu-item {
  display: inline-block;
  margin: auto 5px;
}

.menu-item > a {
  text-decoration: none;
  color: white;
  font-size: small;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .menu-list {
    list-style-type: none;
    margin: 0 1rem;
    padding: 10px 0;
  }

  .menu-item {
    display: inline-block;
    margin: auto 1rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background-color: #fff;
  }

  .menu-list {
    list-style-type: none;
    margin: 0 4rem;
    padding: 10px 0;
  }

  .menu-item {
    display: inline-block;
    margin: auto 1rem;
  }

  .menu-item > a {
    text-decoration: none;
    color: #292b2c;
    font-size: small;
    font-weight: bold;
  }
}

/*BANNER*/
.banner {
  background-color: #ececec;
}

.banner-content {
  padding: 50px 2rem;
  border-bottom: 1px solid rgba(163, 158, 158, 0.801);
}

.banner-heading {
  font-size: 300%;
  margin: 2rem auto;
}

@media screen and (min-width: 992px) {
  .banner {
    max-width: 100%;
    min-height: 500px;
    position: relative;
    background-image: url("images/lodging.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner-content {
    position: absolute;
    top: 20%;
    left: 4rem;
    color: #fff;
    border: none;
  }

  .banner-heading {
    margin: 0px;
  }

  .banner-text {
    font-size: 150%;
    margin: 0px;
  }
}

/*IMAGE LIST*/
.image-list-bg-color {
  background-color: #ececec;
}

.image-heading {
  padding: 15px 2rem 0px;
}

.image-wrapper {
  padding: 5px 2rem 20px;
}

.image-text {
  font-size: 250%;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  padding: 15px 0px;
}

hr {
  display: none;
}

@media screen and (min-width: 992px) {
  .image-heading {
    padding: 15px 5rem 0px;
  }

  .image-wrapper {
    padding: 5px 5rem 20px;
  }

  .image-text {
    font-size: 22pt;
  }

  img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    padding: 0px 0px;
  }

  hr {
    display: block;
    margin: 0 !important;
  }
}

@media screen and (min-width: 1200px) {
  .image-wrapper {
    padding: 5px calc(5rem - 15px) 20px;
  }

  img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    padding: 15px 15px;
  }
}

/*FOOTER*/
.footer-bg-color {
  background-color: #ececec;
}

.footer-wrapper {
  padding: 10px 2rem;
}
.footer-link {
  margin-bottom: 25px;
}

.footer-link > a {
  text-decoration: none;
  color: deepskyblue;
}

@media screen and (min-width: 992px) {
  .footer-wrapper {
    padding: 10px 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    padding: 10px 4rem;
  }

  .footer-text {
    padding-left: 1rem;
  }

  .footer-link {
    padding-left: 1rem;
  }
}
